*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

p, h1, h2 {
  margin: .5em 0;
}

.sitetitle>div {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .5em 0;
}

body {
  background-color: #f2f2f2;
}

#bodycontent {
  background-color: ghostwhite;
  max-width: 90ch;
  margin: auto;
}

#bodycontent>header {
  background-color: hsl(180, 25%, 35%);
  color: ghostwhite;
  min-height: 3em;
}

.sitetitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.topmenubar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul.topmenubar li a, ul.topmenubar li span {
  display: flex;
  text-align: center;
  color: ghostwhite;
  text-decoration: none;
  padding: .5rem;
}

ul.topmenubar li:hover {
  background: hsl(180, 25%, 25%);  
}

ul.topmenubar ul {
  display: none;
  position: absolute;
}

ul.topmenubar li:hover > ul {
  display: block;
  background: hsl(180, 25%, 25%);
}

ul.topmenubar li ul li:hover {
  background: hsl(180, 25%, 45%);
}

#bodycontent>footer {
    background-color: lightslategray;
    min-height: 1em;
}

#contentcontainer {
  padding: .5em;
}

pre {
  background-color: lightgray;
  padding: .5em;
}